PORT=3001

SMTP_HOST=host.hosting.host.com
SMTP=123
SMTP_USER=host@hosting.com
SMTP_PASS=qwerty123

CLIENT_URL=http://localhost:3000
API_URL=http://localhost:3001

PG_HOST=localhost
PG_PORT=5432
PG_DB=your_database
PG_USER=pg_user_name
PG_PASSWORD=pg_user_pass