PORT=3001

# HTTP
CLIENT_URL="http://localhost:3000"
API_URL="http://localhost:3001"
CORS_ORIGIN="http://localhost:5173,http://localhost:3000"

# SMTP
SMTP_HOST="host.hosting.host.com"
SMTP=123
SMTP_USER="host@hosting.com"
SMTP_PASS="qwerty123"

# Database
# Или URL ссылка, или значения по отдельности

# PG_HOST="localhost"
# PG_PORT=5432
# PG_DB="your_database"
# PG_USER="pg_user_name"
# PG_PASSWORD="pg_user_pass"

DATABASE_URL="postgresql://pg_user_name:pg_user_pass@localhost:5432/your_database"

# JWT
JWT_SECRET="change_me_super_secret"
JWT_ACCESS_SECRET="change_me_access_secret"
JWT_ACCESS_EXPIRES_IN="15m"
JWT_REFRESH_SECRET="change_me_refresh_secret"
JWT_REFRESH_EXPIRES_IN="30d"

# Auth cookies
AUTH_ACCESS_COOKIE_NAME="accessToken"
AUTH_REFRESH_COOKIE_NAME="refreshToken"
AUTH_COOKIE_DOMAIN=""
AUTH_COOKIE_SECURE="false"
AUTH_COOKIE_SAME_SITE="lax"
AUTH_COOKIE_HTTP_ONLY="true"
AUTH_ACCESS_COOKIE_PATH="/"
AUTH_REFRESH_COOKIE_PATH="/api/auth/refresh"

# Для cross-site сценария (например, localhost -> https API):
# AUTH_COOKIE_SECURE="true"
AUTH_COOKIE_SAME_SITE="none"

# S3
S3_REGION="ru-central1"
S3_ENDPOINT="https://storage.yandexcloud.net"
S3_BUCKET="your_bucket_name"
S3_ACCESS_KEY_ID="your_s3_access_key"
S3_SECRET_ACCESS_KEY="your_s3_secret_key"
S3_PUBLIC_BASE_URL="https://storage.yandexcloud.net/your_bucket_name"
S3_FORCE_PATH_STYLE="false"
S3_MEDIA_ROOT="tehcomf/media/kitchens"
